body {
	font: 12px/1.4 Helvetica, sans-serif;
	background: #333;
	color: #333;
}

html {
	overflow-y: scroll;
}

#page-wrap { 
	width: 500px; 
	margin: 0px auto 5px; 
	background: #91c7ff; 
	padding: 8px;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background: -moz-linear-gradient(top,  #eee,  #ccc);
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}
#top {
	margin-top: -10px;
	width: 100%;
	height: 350px;
	z-index: 999;
	background-color: #FF7373;
	overflow: auto;
}
.group li{
	display: inline-block;
}

.group {
	text-align: center;
	-webkit-padding-start: 0px;
}

.group li a{
	color: gray;
	text-decoration: none;
	font-size: 20px;
	font-family: "Helvetica";
	
	height: 50px;
	width: 120px;
	border: 2px solid #6495ed;
	background-color: #BCD2EE;
	border-radius: 5px
	margin: auto;
}